<!DOCTYPE html>
<html>
<head>
    <title>navBar</title>
    <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-nav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/merchants">Merchants</a></li>
                <li><a href="reports">Reports</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </nav>
    </div>

    

    <div class="image-div">
        <h1>PAY LATER<h1>
    </div>

    

    <div class="bottom-div">
        <p>&copy; Copyright 2024 All rights reserved | Developed by PAYLATER</p>
    </div>
</body>
</html>




