<!DOCTYPE html>
<html lang="en">
<head>
    <title>Merchant</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="merchant-div">
        <h1>Merchant Register</h1>
    </div>

    <div class="register-div">
        <form action="/merchants" method="post">
            <input type="number" name="merchant_id" placeholder="mer_id"><br>
            <input type="text" name="mer_app" placeholder="mer_app"><br>
            <input type="number" name="txn_rate" placeholder="txn_rate"><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>